{% extends 'books/base.html' %}

{% block content %}
<div class="max-w-lg mx-auto bg-white p-6 rounded-lg shadow-lg">
    <h1 class="text-2-xl font-bold mb-4"> Add a New Book </h1>
    <form method="post">
        {% csrf_token %}
        <div class="mb-4">
            <label for="id_title" class="block text-gray-700 font-semibold">Title</label>
            {form.title}
        </div>
        <div class="mb-4">
            <label for="id_author" class="block text-gray-700 font-semibold">Author</label>
        </div>
        <div class="mb-4">
            <label for="id_genre" class="block text-gray-700 font-semibold">Genre</label>
        </div>
        <div class="mb-4">
            <label for="id_status" class="block text-gray-700 font-semibold">Status</label>
        </div>
         <div class="mb-4">
            <label for="id_rating" class="block text-gray-700 font-semibold">Rating</label>
        </div>
        <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-gray-600"> Save </button>
    </form>
</div>
{endblock}



